<div class="column">
  <div class="card">
    <div class="card-content">
      <% if customer.image.present? %>
      <div class="card-image">
        <figure class="image">
          <%= image_tag(customer.image) %>
        </figure>
      </div>
      <% end %>
    </div>
  </div>
</div>